<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eyeapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoeye"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".viewChildren"></activity>
        <activity android:name=".addChildren" />
        <activity android:name=".submitDuties" />
        <activity android:name=".evaluatestudents" />
        <activity android:name=".SchoolDetailActivity" />
        <activity android:name=".SchoolsActivity" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".teacherhomepage" />
        <activity android:name=".parenthomepage" />
        <activity android:name=".AddteacherInformation" />
        <activity android:name=".AddstudentInformation" />
        <activity android:name=".parentaccount" />
        <activity android:name=".Addstudentfromparent" />
        <activity android:name=".Registration" />
        <activity android:name=".Addscchool" />
        <activity android:name=".addteatcherandstudent" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>